<div class="container">
	<div class="row">
		<div class="col-10">
			<div class="panel">
				<form action="/account/create" method="POST" novalidate>
					<div class="row">
						<div class="col-2">
							<label for="name">Name:</label>
						</div>

						<div class="col-8">
							<input type="text" name="name" id="name" value="{{formdata.account_create.name}}">
						</div>
					</div>

					<div class="row">
						<div class="col-2">
							<label for="email">Email:</label>
						</div>

						<div class="col-8">
							<input type="text" name="email" id="email" value="{{formdata.account_create.email}}">
						</div>
					</div>

					<div class="row">
						<div class="col-2">
							<label for="username">Username:</label>
						</div>

						<div class="col-8">
							<input type="text" name="username" id="username" value="{{formdata.account_create.username}}">
						</div>
					</div>

					<div class="row">
						<div class="col-2">
							<label for="password">Password:</label>
						</div>

						<div class="col-8">
							<input type="password" name="password" id="password" value="">
						</div>
					</div>

					<div class="row">
						<div class="col-2">
							<label for="password-confirm">Confirm Password:</label>
						</div>

						<div class="col-8">
							<input type="password" name="password_confirm" id="password-confirm" value="">
						</div>
					</div>

					<div class="row">
						<div class="col-10 navigation">
							<a href="/login" class="button item">Back</a><input type="submit" name="submit" value="Submit" class="submit button item f-right">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
