<div class="general-popup-container" id="popup-alpha">
	<div class="general-popup">
		<div class="general-popup-header">
			<h2>Alpha</h2>
		</div>

		<div class="general-popup-content">
			<p>Please be aware that this is an alpha App currently under development.</p>
			<p>There may be bugs and there are missing features.</p>
		</div>

		<div class="general-popup-footer">
			<button type="button" class="button general-popup-close">Close</button>
		</div>
	</div>
</div>

<div class="general-popup-container" id="popup-confirm">
	<div class="general-popup">
		<div class="general-popup-header">
			<h2>Confirm Action</h2>
		</div>

		<div class="general-popup-content">
			<p>Are you sure you want to do it?</p>
		</div>

		<div class="general-popup-footer">
			<button type="button" class="button general-popup-close">Close</button>
			<button type="button" class="button general-popup-confirm f-right">Confirm</button>
		</div>
	</div>
</div>
