<div class="container">
	<div class="row">
		<div class="col-10 col-lg-5">
			<div class="panel">
				<form action="/account/edit" method="POST" novalidate>
					<h3>Update your account information.</h3>

					<div class="row">
						<div class="col-2">
							<label for="name">Name:</label>
						</div>

						<div class="col-8">
							<input type="text" name="name" id="name" value="{{formdata.account_edit.name}}">
						</div>
					</div>

					<div class="row">
						<div class="col-2">
							<label for="email">Email:</label>
						</div>

						<div class="col-8">
							<input type="text" name="email" id="email" value="{{formdata.account_edit.email}}">
						</div>
					</div>

					<div class="row">
						<div class="col-2">
							<label for="username">Username:</label>
						</div>

						<div class="col-8">
							<input type="text" name="username" id="username" value="{{formdata.account_edit.username}}">
						</div>
					</div>

					<div class="row">
						<div class="col-10 navigation">
							<input type="submit" name="submit" value="Submit" class="submit button item f-right">
						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="col-10 col-lg-5">
			<div class="panel">
				<form action="/account/new-password" method="POST" novalidate>
					<h3>Create new password.</h3>

					<div class="row">
						<div class="col-2">
							<label for="password-current">Current Password:</label>
						</div>

						<div class="col-8">
							<input type="password" name="password_current" id="password-current" value="">
						</div>
					</div>

					<div class="row">
						<div class="col-2">
							<label for="password">New Password:</label>
						</div>

						<div class="col-8">
							<input type="password" name="password" id="password" value="">
						</div>
					</div>

					<div class="row">
						<div class="col-2">
							<label for="password-confirm">Confirm Password:</label>
						</div>

						<div class="col-8">
							<input type="password" name="password_confirm" id="password-confirm" value="">
						</div>
					</div>

					<div class="row">
						<div class="col-10 navigation">
							<input type="submit" name="submit" value="Submit" class="submit button item f-right">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
