<div class="container">
	<div class="row tch-utils-equalMinHeights">
		<div class="col-10 col-lg-5">
			<div class="panel tch-utils-equalMinHeights-child">
				<h2>MySQL</h2>
				{{{mySQLMessage}}}
			</div>
		</div>
		
		<div class="col-10 col-lg-5">
			<div class="panel tch-utils-equalMinHeights-child">
				<h2>MongoDB</h2>
				{{{mongoDBMessage}}}
			</div>
		</div>
	</div>

	TODO remove
	<select class="tch-select" multiple data-limit="2" style="width: 100%;">
		<option value="1">One</option>
		<option value="2" selected>Second</option>
		<option value="3">Three</option>
		<option value="4" selected>Four</option>
		<option value="5">Five</option>
		<option value="6">Six</option>
		<option value="7">Seven</option>
		<option value="8">Eight</option>
		<option value="9">Nine</option>
	</select>
</div>
