<div class="container">
	<div class="row">
		<div class="col-10">
			<div class="toggle-buttons tch-toggle" data-multiple="true" data-enlarge="true"><button type="button" class="active" data-selector="#mysqlgrid-container">Servers</button><button type="button" data-selector="#bridgegrid-container">Bridges</button></div>
		</div>
	</div>

	<div class="row">
		<div class="col-10 col-lg-5 active" id="mysqlgrid-container">
			<a href="/mysql/new" class="button f-right">New Database</a>

			{{> grid mysqlGrid}}
		</div>

		<div class="col-10 col-lg-5" id="bridgegrid-container">
			<a href="/mysql/bridge/new" class="button f-right">New Bridge</a>

			{{> grid bridgeGrid}}
		</div>
	</div>
</div>
