/*** Animated transition styles ***/
input { transition: background 0.4s linear; }

a { transition: border 0.4s linear, color 0.4s linear, background 0.4s linear; }
a.button,
button,
input[type=submit] { transition: border 0.4s linear, color 0.4s linear, background 0.4s linear; }

.tch-grid-body .tch-grid-row { transition: border 0.4s linear; }

/*.tch-select-container { transition: border-radius 0.4s linear; }*/
.tch-select-container > ul li svg { transition: color 0.4s linear; }
.tch-select-list ul li { transition: color 0.4s linear, background 0.4s linear; }

.tch-checkbox-container { transition: background 0.4s linear; }
