<div class="container" id="mysql-detail" data-id="{{databaseId}}">
	<div class="row">
		<div class="col-10">
			<div class="toggle-buttons tch-toggle" data-multiple="true" data-enlarge="true"><button type="button" class="active" data-selector="#tables">Tables</button><button type="button" data-selector="#table-content">Content</button></div>
		</div>
	</div>

	<div class="row">
		<div class="col-3 col-lg-2 active" id="tables">
			<div class="panel">
				{{#each tables}}
					{{this}} (WIP)
				{{/each}}
			</div>
		</div>

		<div class="col-7 col-lg-8" id="table-content">
			TODO main content
		</div>
	</div>
</div>
