<div class="container" id="mysql-detail" data-id="{{databaseId}}">
	<div class="row">
		<div class="col-10">
			<div class="toggle-buttons tch-toggle" data-multiple="true" data-enlarge="true"><button type="button" class="active" data-selector="#tables">Tables</button><button type="button" data-selector="#table-content">Content</button></div>
		</div>
	</div>

	<div class="row">
		<div class="col-2 col-lg-3 active" id="tables">
			TODO tables
		</div>

		<div class="col-8 col-lg-7" id="table-content">
			TODO main content
		</div>
	</div>
</div>
